
body{  
    font-family: Arial, Helvetica, sans-serif;  
    margin: auto;  
    padding: 0; 
    background-color: rgb(233, 233, 233);
    width: 99%; 
    /* border: 2px solid black; */
} 

#main{
    background-image: url("https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg");
    background-repeat: no-repeat; 
    background-size: 100% auto ;    
    width: 98%; 
    height: 760px; 
    /* border: 2px solid black; */
}

nav>img{
    width: 18%;
}

nav{
    display: flex ; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    padding: 4px 40px;  
}

a{
    margin: 4px 8px;  
    text-decoration: none;  
    color: rgb(255, 255, 255);  
}

#sig{
    cursor: pointer; 
}

/* login -----------------------------------------  */

.login{
    margin: auto;  
    border: 2px solid rgb(124, 124, 124);
    width: 26%; 
    position: fixed; 
    font-size: medium;
    top: 0; 
    bottom: 0; 
    right: 0; 
    background-color: white; 
    z-index: -1; 
    display: none; 
    text-align: center; 
} 

.login h2{
    margin: 0 2px;  
    font-size: large; 
    padding: 0; 
    font-weight: 100; 
}

.login input{
    margin: 0; 
    padding: 6px 4px;   
    font-size: large; 
    border-radius: 4px;
}  

.login button{
    padding: 4px;  
    font-size: large; 
    border-radius: 4px;
}

.login>div{
    width: 100%;  
    margin: auto;  
    padding: 20px;  
    /* border: 2PX solid black; */
    display: grid; 
    /* top: 0;  */
    text-align: left; 
    gap: 10px;  
}

#cross{ 
    display: flex; 
    align-items: center; 
    justify-content: end; 
    padding-right: 10px; 
    /* border: 2px solid black;   */
    /* padding: 0;  */
}

#cross>h3{
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    margin: 0;display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: right;
    background-color: black; 
    color: rgb(255, 255, 255); 
    font-weight: bolder;
    padding: 0;
    cursor: pointer; 
    border: 2px solid black;  
}

#sut{
    background-color: black; 
    color: white; 
    padding: 10px 0;  
    cursor: pointer;  
}

/* box1 -------------------------------------- */  

.box1{
    width: 85%; 
    border-radius: 6px; 
    display: flex; 
    align-items: center; 
    padding: 20px;
    justify-content: center ;  
    position: absolute;  
    top: 400px;  
    flex-wrap: wrap; 
    margin: auto; 
    left: 5%;
    background-color: white; 
}
.box1>a{
    margin: auto 4px 8px 4px; 
    display: grid; 
    width: 140px; 
    padding: 0 10px; 
    /* border: 2PX solid black; */
    text-align: center; 
    height: 140px;
} 

.box1>a:hover{
    background-color: rgb(236, 236, 236);
}

.box1 img{
    width: 50%;  
    margin: auto; 
    padding: 10px;
}

.box1 h4{
    margin: 0; 
    padding: 0; 
    font-size: small; 
    font-weight: 100;
    color: black;
}

/* part 1 --------------------------------- */

.part1{
    margin: auto; 
    color: white; 
    text-align: center; 
}  
h1{
    font-size: xxx-large;
}

.part1>div{   
    display: flex; 
}  

.part1 input{
    font-size: large; 
    padding: 8px 10px;   
    /* text-align: ; */
    margin: 50px auto;   
    width: 500px; 
    border-radius: 4px;  
    border: 0px; 
}

.part1 h5{
    cursor: pointer; 
    font-weight: 100; 
    /* border: 2px solid black;  */
    width: 200px; 
    margin: auto;
}

/* part 2 ------------------------------- */

.part2{
    display: flex;  
}

.main2{
    background-color: white; 
    width: 100%;  
    padding: 10px 0; 
    margin: 26px 0;
}

.box2{
    width: 85%; 
    margin: 60px auto; 
}

.box2>div{
    margin: 0 10px; 
    /* border: 2px solid black; */
}

.box2 img{
    width: 80%;  
    /* border: 2px solid black; */
    border-radius: 4px;
    cursor: pointer;  
}

.box2 img:hover{
    width: 84%;
}

/* offer ---------------------------------- */

.offer{
    background-color: white; 
    text-align: center; 
    margin: auto; 
    padding: 10px 0;
}

/* policy ---------------------------------- */

h6{ 
    font-weight: 100;
} 

.policy{ 
    background-color: white; 
    margin: 20px auto ;  
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center; 
} 
.policy>div{
    text-align: left;  
    width: 70%; 
    margin: 10px auto; 
    /* border: 1px solid black;  */
}
.policy button{
    padding: 10px 14px;  
    margin: 10px;  
    border: 2px solid rgba(200, 200, 200, 0.786);
    border-radius: 8px; 
    color: blue ;  
    cursor: pointer;
    background-color: white; 
}
.policy button:hover{
    border: 2px solid rgba(0, 0, 0, 0.786);
    color: rgb(255, 255, 255) ;  
    background-color: rgb(0, 4, 255);
}


/* part 4 ----------------------------- */

.part4{
    width: 100%; 
}  

.part4 img{
    width: 100%; 
}

/* Appliances --------------------------  */

.Applian{
    background-color: white ; 
    margin: auto; 
    width: 100%; 
    text-align: center; 
}

.Applian>div{
    display: flex ;
    width: 70%; 
    margin: auto; 
    align-items: center; 
    justify-content: space-around; 
} 

.Applian>div>div{
    margin: 0 14px;
}

.Applian img{
    width: 100%; 
}

/* skill_India --------------------------------- */  

.skill_India{
    display: flex;  
    width: 100%;  
    background-color: white; 
    align-items: center; 
    padding: 10px 0; 
    margin: 20px 0;  
    /* justify-content: space-around;  */
}

.skill_India>div{
    margin-left: 15%;  
    display: flex; 
}

.skill_India>div>div:nth-child(2){
    margin-left: 30px ;
}

.skill_India img{
    width: 14%; 
}

/* footer -----------------------  */

.footer{
    background-color: black; 
    color: white; 
} 

.f1{
    display: flex;  
    padding: 20px 0;   
    flex-wrap: wrap;  
    display: flex;  
    flex-wrap: wrap; 
    width: 100%;
} 
.f1>a{ 
    margin: 20px 14px ;
    font-size: medium;  
    cursor: pointer;  
}

.f2{
    padding: 30px 0 ;
    width: 100%; 
}

.f2>div{
    /* border: 2px solid white;   */
    margin: 30px auto;  
    display: flex; 
    width: 96%; 
    flex-wrap: wrap; 
    align-items: center;  
    justify-content: space-around; 
}

.f2>div>img{ 
    /* border: 2px solid white;  */
    width: 180px; 
}


.contact{
    width: 260px;   
    display: flex;  
    /* border: 2px solid white; */
    justify-content: space-around; 
}

.contact img{
    width: 30px; 
    cursor: pointer; 
    margin: 0 10px;  
}


.app{
    /* border: 2px solid white;  */
    display: flex; 
    align-items: center; 
}

.app img{
    width: 90px; 
}

/* media qua-----------------------------------------  */

@media all and (max-width:870px){
    .box1{
        top: 300px;
    }  

    .box1>a{
        width: 100px;
    }
    .part1 input{
        margin: auto;
    }

    #main{
        height: 640px; 
        /* border: 2px solid black;  */
        margin: auto; 
        width: 100%; 
    }
    .login {
        width: 90%; 
    }
}


/* media 300px */  

@media all and (max-width:860px){

    #main{
        height: 940px; 
    }
}


