
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex; 
    flex-wrap: wrap ;  
    align-items: center;  
    justify-content: space-between; 
    padding: 0px 10px ; 
    border-bottom: 2px solid rgb(210, 210, 210) ; 
}

nav a{
    margin: 0 10px ;  
    text-decoration: none;  
    color: black;  
}  

nav img{
    width: 120px;
}

hr{
    background-color: black;  
}

h1{
    margin-left: 10px;  
    text-align: center;
} 


.box1{ 
    border-radius: 10px; 
    border: 2px solid rgb(222, 222, 222);
}

/* option pack */

.opts{
    width: 100%; 
    margin: 40px 0 30px 0; 
    display: flex;  
}  

.opts>div{
    width: 90px;  
    /* border: 2px solid black;   */
    margin: auto 5px;  
    text-align: center;  
    cursor: pointer; 
    height: 110px;
} 

.opts img{
    width: 70%; 
    margin: auto; 
}  

.opts h5{
    margin: 0;  
    padding: 0;  
    font-weight: 100;
}

/* top_img */
 
.top_img{
    width: 70% ; 
    margin: auto;
} 

.top_img img{
    width: 100%; 
}

/* part1 */

.part1{
    display: flex; 
    justify-content: space-between; 
    align-items: center ; 
    margin: 60px  0 ;  
    cursor: pointer;
    /* border: 2px solid rgb(212, 212, 212);  */
}

.part1 hr{
    background-color: rgb(219, 221, 255);  
    border: 0;
    padding: 1px 0;
} 

.part1 h3,h4{
    margin: 2px; 
    padding: 2px;
}

.part1 button{
    margin: 6px 0;  
    padding: 8px 20px;  
    border-radius: 8px;   
    cursor: pointer;  
    background-color: white;     
    border: 2px solid rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;   
} 
.part1 button:hover{  
    color: blue; 
    border: 2px solid rgb(127, 127, 127);
}

.part1>div:nth-child(1){
    flex: 3; 
    /* border: 2px solid rgb(187, 187, 187);  */
    margin-left: 6%; 
}  

.part1>div:nth-child(2){
    flex: 1; 
    /* border: 2px solid rgb(219, 219, 219);  */
    margin: auto; 
    text-align: center; 
    margin-left: 6%; 
}


/* part2 */



